# Plot different graphs using plotly :-

plotly is a Python library which is used to design graphs, 
especially interactive graphs. It can plot various graphs 
and charts like histogram, barplot, scatterplot 
and many more. It is mainly used in data analysis as well 
as financial analysis. plotly is an interactive 
visualization library.

In [1]:
import pandas as pd
import numpy as np
# import plotly.plotly as py
import chart_studio.plotly as py

# pip install chart_studio

In [2]:
# Import Data

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/school_earnings.csv")

In [4]:
df

        School  Women  Men  Gap
0          MIT     94  152   58
1     Stanford     96  151   55
2      Harvard    112  165   53
3       U.Penn     92  141   49
4    Princeton     90  137   47
5      Chicago     78  118   40
6   Georgetown     94  131   37
7        Tufts     76  112   36
8         Yale     79  114   35
9     Columbia     86  119   33
10        Duke     93  124   31
11   Dartmouth     84  114   30
12         NYU     67   94   27
13  Notre Dame     73  100   27
14     Cornell     80  107   27
15    Michigan     62   84   22
16       Brown     72   92   20
17    Berkeley     71   88   17
18       Emory     68   82   14
19        UCLA     64   78   14
20       SoCal     72   81    9

In [5]:
# First create account given below url & genearte API key :-
#https://chart-studio.plot.ly/Auth/login/?next=%2Fsettings%2Fapi
# user name : sulabh
# password : password

In [6]:
import chart_studio
chart_studio.tools.set_credentials_file(username='Anilt', api_key='dHtCtFfReseBxkRRYM3F')

In [7]:
import chart_studio; 
chart_studio.tools.set_config_file(plotly_domain="https://plotly.com", plotly_api_domain="https://api.plotly.com")

import plotly.figure_factory as ff
from chart_studio.plotly import plot, iplot
table = ff.create_table(df)
py.iplot(table, filename='jupyter-table1')

In [8]:
schools = df.School
schools[0]

'MIT'

In [9]:
df.std()

C:\Users\MONUSA~1\AppData\Local\Temp/ipykernel_8992/3971434360.py:1: FutureWarning:

Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Women    12.813683
Men      25.705289
Gap      14.137084
dtype: float64

In [ ]:
# Plotting Inline

In [10]:
import chart_studio.plotly as py
import plotly.graph_objs as go

data = [go.Bar(x=df.School,
            y=df.Gap)]

py.iplot(data, filename='basic_bar_chart')

In [ ]:
# Plotting multiple traces and styling the chart with custom colors 
# and titles is simple with Plotly syntax.

In [ ]:
import chart_studio.plotly as py
import plotly.graph_objs as go

trace_women = go.Bar(x=df.School,
                  y=df.Women,
                  name='Women',
                  marker=dict(color='#ffcdd2'))

trace_men = go.Bar(x=df.School,
                y=df.Men,
                name='Men',
                marker=dict(color='#A2D5F2'))

trace_gap = go.Bar(x=df.School,
                y=df.Gap,
                name='Gap',
                marker=dict(color='#59606D'))

data = [trace_women, trace_men, trace_gap]

layout = go.Layout(title="Average Earnings for Graduates",
                xaxis=dict(title='School'),
                yaxis=dict(title='Salary (in thousands)'))

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='jupyter-styled_bar')

In [ ]:
import chart_studio.plotly as py
import plotly.graph_objs as go

data = [go.Pie(labels=df.School,
            values=df.Gap)]

py.iplot(data, filename='basic_pie_chart')

In [ ]:
import chart_studio.plotly as py
import plotly.graph_objs as go

data = [go.Scatter(x=df.School,
            y=df.Gap,mode='markers', marker=dict(
        size=16,
        color = np.random.randn(500), #set color equal to a variable
        colorscale='Viridis',
        showscale=True
    ))]

py.iplot(data, filename='scatter-plot-with-colorscale')